---
import FeatureList from "../components/FeatureList.astro";
import Hero from "../components/Hero.astro";
import Testimonial from "../components/Testimonial.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <Hero />
  <div
    class="mb-40 flex flex-col items-center text-center w-full p-4 text-white max-w-5xl"
  >
    <h2 class="text-3xl font-bold max-w-xl">It's time to shelle-brate productivity. Don't let procrastination crab your style.</h2>
    <p class="mt-4 mb-10 max-w-lg">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget
      dignissim ligula. Pellentesque molestie ut purus at iaculis. Donec in dui
      eu lectus sagittis gravida. Maecenas eget lorem arcu.
    </p>
    <FeatureList />
  </div>

  <div class="gap-16 mb-20 w-full max-w-5xl flex justify-between text-white">
    <div>
      <h2 class="text-3xl font-bold mb-4">Track Your Tasks</h2>
      <p>
        Singed drinks a potent brew of chemicals, granting him 30 / 65 / 100
        bonus ability power, armor, magic resist and movement speed along with 6
        / 12 / 18 bonus health regeneration and mana regeneration for 25
        seconds.
      </p>
    </div>
    <img
      class="p-4 max-w-lg"
      src="https://images.unsplash.com/photo-1484715340216-6e77040b1852?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80"
    />
  </div>
  <div
    class="mb-40 gap-16 w-full max-w-5xl flex justify-between text text-white"
  >
    <img
      class="p-4 max-w-lg"
      src="https://images.unsplash.com/photo-1484715340216-6e77040b1852?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80"
    />
    <div class="text-left w-full">
      <h2 class="text-3xl font-bold mb-4">Say No To Distractions</h2>
      <p>
        Singed drinks a potent brew of chemicals, granting him 30 / 65 / 100
        bonus ability power, armor, magic resist and movement speed along with 6
        / 12 / 18 bonus health regeneration and mana regeneration for 25
        seconds.
      </p>
    </div>
  </div>

  <div class="grid w-full max-w-5xl grid-cols-3 pb-0">
    <Testimonial
      quote="Never been a day in my life where I don't think about Procrabstinator."
      imgSource="/Crabriel.png"
      quotee="Crabriel Iglesias"
    />
    <Testimonial
      quote="Ever since I implemented Procrabstinator at my company, productivity from all my crabs have increased and our sales have never been higher. Could not recommend enough."
      imgSource="/Crobert.png"
      quotee="Crobert Jones"
    />
    <Testimonial
      quote="Procrabstinator is insane. I've never felt so good doing work and being able to ignore my vices before."
      imgSource="/Crabugawa Ieyasu.png"
      quotee="Crabugawa Ieyasu"
    />
    <Testimonial
      quote="I've been struggling with procrastination for years and this service has been a game-changer for me."
      imgSource="/Monsieur Krabs.png"
      quotee="Monsieur Krabs"
    />
    <Testimonial
      quote="As the owner of a prestigious sports team, I sometimes have so much on my plate I procrastinate on my tasks. Haven't been doing that since starting Procrabstinate."
      imgSource="/Robert Crabft.png"
      quotee="Robert Crabft"
    />
    <Testimonial
      quote="I've been so productive with Procrabstinator, I was able to start an intergalactic war among three sentient races."
      imgSource="/Crabathur.png"
      quotee="Crabathur"
    />
  </div>
  <div class="h-40 bg-gradient-to-b from-[#8B4000] to-orange-900 w-full">

  </div>
</Layout>
