---
export interface Props {
	title: string;
	body: string;
}

const { title, body } = Astro.props;
---

<div class="md:m-0 m-4 p-4 text-left border border-orange-400 shadow">
	<h2 class="mb-4">
		{title}
	</h2>
	<p>
		{body}
	</p>
</div>