---
import Card from "./Card.astro";
---

<div class="grid grid-cols-3 gap-4">
  <Card
    title="Hello"
    body="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pellentesque molestie tellus sit amet feugiat. Sed fringilla libero eget erat finibus ultrices. Cras faucibus, tortor quis rhoncus porta, metus nisl lacinia mi, non congue sapien velit non lectus. Suspendisse nec velit sit amet urna convallis condimentum."
    href="/"
  />
  <Card
    title="Hello"
    body="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pellentesque molestie tellus sit amet feugiat. Sed fringilla libero eget erat finibus ultrices. Cras faucibus, tortor quis rhoncus porta, metus nisl lacinia mi, non congue sapien velit non lectus. Suspendisse nec velit sit amet urna convallis condimentum."
    href="/"
  />
  <Card
    title="Hello"
    body="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pellentesque molestie tellus sit amet feugiat. Sed fringilla libero eget erat finibus ultrices. Cras faucibus, tortor quis rhoncus porta, metus nisl lacinia mi, non congue sapien velit non lectus. Suspendisse nec velit sit amet urna convallis condimentum."
    href="/"
  />
</div>