---
import Card from "./Card.astro";
---

<div class="grid grid-cols-3 gap-4">
  <Card
    title="Deadline Manager"
    body="Manage deadlines, organize information, and filter by characteristics. Determine what tasks take the most priority."
    href="/"
  />
  <Card
    title="Distraction Accountability"
    body="Get reminded about deadlines whenever you open an application that detracts from your productivity."
    href="/"
  />
  <Card
    title="Personalized Habit Statistics"
    body="Learn about your procrastination habits and improve them."
    href="/"
  />
</div>