<header class="bg-orange-900 font-bold text-white p-4 w-full">
  <nav class="max-w-[1000px] flex justify-between items-center m-auto">
    <p>Procrabstinator</p>
    <div class="flex gap-4">
      <p>About</p>
      <img width={24} height={24} alt="github logo"
        src="/github.jpg"
      />
    </div>
  </nav>
</header>
